# 🧩 Node.js
node_modules/
npm-debug.log
yarn-error.log

# ⚙️ Archivos de entorno y secretos
.env
example.env

# 🗂️ Subidas temporales y otros archivos locales
uploads/
.DS_Store

# 🏗️ Builds y distribuciones
dist/
build/

# 💻 Configuración de editores
.vscode/
.idea/

